* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 616px);
  padding-right: calc(50% - 616px);
}

.header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__leftBar, .header__rightBar {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.header__search {
  position: relative;
}
.header__search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}
.header__input {
  border-radius: 8px;
  border: 1px solid rgb(204, 204, 204);
  background: transparent;
  width: 443px;
  height: 48px;
  color: rgb(128, 128, 128);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  text-align: left;
  outline: none;
  padding: 12px 16px;
}
.header__link-icon {
  display: none;
}
.header__link {
  color: rgb(28, 53, 84);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}
.header__link:hover {
  text-decoration: underline;
}
.header__btnBox {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
.header__loginBtn {
  height: 48px;
  width: 111px;
  background: transparent;
  border: 1px solid rgb(28, 53, 84);
  border-radius: 8px;
  padding: 8px 32px;
  font-family: Montserrat;
  color: rgb(28, 53, 84);
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
  transition: all 1s;
}
.header__loginBtn:hover {
  background-color: rgb(28, 53, 84);
  color: white;
}
.header__loginBtn:active {
  background-color: rgba(28, 53, 84, 0.5);
  color: white;
  border: none;
}
.header__singnupBtn {
  height: 48px;
  width: 129px;
  border-radius: 8px;
  background: rgb(247, 37, 133);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
  transition: all 1s;
}
.header__singnupBtn:hover {
  border: 1px solid rgb(247, 37, 133);
  background: transparent;
  color: rgb(247, 37, 133);
}
.header__singnupBtn:active {
  border: none;
  background: rgb(250, 107, 172);
  color: rgb(255, 255, 255);
}

.info {
  border-radius: 8px;
  background: rgb(2, 25, 52);
  overflow: hidden;
  margin-left: calc(50% - 680px);
  margin-right: calc(50% - 680px);
  height: 748px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.info__leftPart {
  padding-top: 88px;
}
.info__rigthPart {
  padding-top: 65px;
  padding-left: 93px;
}
.info__title {
  max-width: 610px;
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 64px;
  font-weight: 700;
  line-height: 138%;
}
.info__text {
  max-width: 647px;
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 169%;
}
.info__searchField {
  margin-top: 66px;
  position: relative;
  width: 610px;
}
.info__input {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 24px 137px 29px 56px;
  color: rgb(128, 128, 128);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 169%;
}
.info__search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.info__searchBtn {
  width: 121px;
  height: 56px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  border-radius: 8px;
  background: rgb(247, 37, 133);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  border: none;
  transition: all 1s;
}
.info__searchBtn:hover {
  border: 1px solid rgb(247, 37, 133);
  background: transparent;
  color: rgb(247, 37, 133);
}
.info__searchBtn:active {
  border: none;
  background: rgb(250, 107, 172);
  color: rgb(255, 255, 255);
}
.info__tagsBox {
  margin-top: 58px;
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.info__tag {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
.info__tag-text {
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.info__image-zone {
  width: 529px;
  height: 683px;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  background-image: url(../images/bell_icon.png), url(../images/love_icon.png), url(../images/verification_icon.png);
  background-repeat: no-repeat;
  background-position: 71px 47px, 47px 375px, 100% 292px;
  position: relative;
  z-index: 1;
}
.info__reviewBox {
  width: 184px;
  height: 117px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  position: absolute;
  bottom: 48px;
  right: 30px;
  padding-top: 16px;
  border-radius: 8px;
}
.info__reviews-qty {
  color: rgb(28, 53, 84);
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
}
.info__subtitle {
  margin-top: -2px;
  color: rgb(28, 53, 84);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.info__starbox {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.info::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 640px;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle at 50% 50%, rgba(250, 107, 172, 0.8), transparent 70%);
  filter: blur(123px);
  z-index: 0;
  border-radius: 50%;
}

.catalog {
  margin-top: 88px;
  margin-left: 2px;
  margin-right: 2px;
}
.catalog__title {
  color: rgb(28, 53, 84);
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 133%;
  text-align: center;
}
.catalog__categories-box {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-top: 56px;
  justify-content: center;
}
.catalog__categoryBtn {
  width: 167px;
  height: 48px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  color: rgb(170, 170, 170);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}
.catalog__categoryBtn_choosen {
  border-radius: 8px;
  background: rgb(247, 37, 133);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}
.catalog__moreBtn {
  margin-top: 60px;
  margin-bottom: 120px;
  width: 288px;
  height: 60px;
  border-radius: 8px;
  background: rgb(247, 37, 133);
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
  color: rgb(255, 255, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-box {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
}

.product-card {
  padding: 16px;
  background-color: transparent;
  height: 427px;
  width: 295px;
  border-radius: 8px;
  position: relative;
  transition: box-shadow 1s ease-in-out;
}
.product-card__image {
  width: 100%;
  height: 208px;
  background-color: rgb(204, 204, 204);
  border-radius: 4px;
}
.product-card__coursename {
  border-radius: 8px;
  background: rgb(69, 134, 214);
  border: none;
  width: 131px;
  height: 32px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 200%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 203px;
  z-index: 2;
}
.product-card__title {
  margin-top: 27px;
  color: rgb(28, 53, 84);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}
.product-card__title_long {
  max-width: 250px;
}
.product-card__subtitle {
  margin-top: 8px;
  color: rgb(247, 37, 133);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 200%;
}
.product-card__starbox {
  margin-top: 10px;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.product-card__star-qty {
  margin-left: 4px;
  color: rgb(128, 128, 128);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
}
.product-card__price-box {
  margin-top: 16px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.product-card__old-price {
  color: rgb(204, 204, 204);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 169%;
  text-decoration: line-through;
}
.product-card__price {
  color: rgb(28, 53, 84);
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 133%;
}

.product-card:hover {
  box-shadow: 40px 40px 57px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__input {
    width: 300px;
  }
  .header__leftBar {
    padding-left: 10px;
    justify-content: flex-end;
  }
  .info {
    margin: 0;
    width: 100%;
  }
  .info__rigthPart {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__input {
    width: 300px;
  }
  .header__loginBtn {
    width: 129px;
  }
  .header__leftBar {
    justify-content: flex-end;
  }
  .header__link {
    display: none;
  }
  .header__link-icon {
    display: block;
  }
  .header__icon-img {
    width: 36px;
    height: 36px;
  }
  .header__btnBox {
    row-gap: 10px;
    flex-direction: column;
  }
  .info {
    margin: 0;
    width: 100%;
  }
  .info__rigthPart {
    display: none;
  }
  .product-card {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__logo-link {
    display: none;
  }
  .header__input {
    display: none;
  }
  .header__search-icon {
    left: 24px;
  }
  .header__loginBtn {
    width: 129px;
  }
  .header__leftBar {
    justify-content: flex-end;
  }
  .header__link {
    display: none;
  }
  .header__link-icon {
    display: block;
  }
  .header__icon-img {
    width: 36px;
    height: 36px;
  }
  .header__btnBox {
    row-gap: 10px;
    flex-direction: column;
  }
  .info {
    margin: 0;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .info__rigthPart {
    display: none;
  }
  .info__title {
    font-size: 24px;
    text-align: center;
  }
  .info__text {
    font-size: 20px;
    text-align: center;
  }
  .info__searchField {
    width: 95%;
  }
  .info__input {
    height: 50px;
  }
  .info__searchBtn {
    height: 30px;
    width: 90px;
  }
  .info__tagsBox {
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: center;
  }
  .catalog__categories-box {
    flex-wrap: wrap;
  }
  .product-card {
    width: 350px;
  }
}/*# sourceMappingURL=styles.css.map */